~$cumento senza titolo.docx
Codici-20230516T111731Z-001.zip
*.asv
Esercizio biometria/Codici/Database copia
Esercizio biometria/Codici/Estrazione Features Palmprint/csv
Esercizio biometria/Codici/Estrazione Features Palmprint/Fusione Dataset Nostro
Esercizio biometria/Codici/Estrazione Features Palmprint/Fusione12_New_Completo copia
Esercizio biometria/Codici/Estrazione Features Palmprint/Fusione12_New_Completo
Esercizio biometria/Codici/Estrazione Features Palmprint/img
Esercizio biometria/Codici/Estrazione Features Palmprint/template8
Esercizio biometria/Codici/Estrazione Features Palmprint/template8_completo
Esercizio biometria/Codici/Estrazione Features Palmprint/template8_filtro_1_sigma_0.5
Esercizio biometria/Codici/Estrazione Features Palmprint/template8_filtro_6_sigma_0.5
Esercizio biometria/Codici/Estrazione Features Palmprint/template8_filtro_6_sigma_1.2
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGenerati
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGenerati_old
Esercizio biometria/Codici/Estrazione Render 2D e  TemplateHG-ROIPalmprint/DATABASE_RENDER_PALMOX
Esercizio biometria/Codici/Estrazione Render 2D e  TemplateHG-ROIPalmprint/DATABASE_TEMPLATE_HandGeometryP
Esercizio biometria/Codici/Verifica/Template3D copia breve
Esercizio biometria/Codici/Verifica/Template3D copia
Esercizio biometria/Codici/Verifica/Template3D
Esercizio biometria/Codici/Verifica/template8
Esercizio biometria/Codici/Database
Esercizio biometria/Codici/Estrazione Features Palmprint/Directory Riordinata
Esercizio biometria/Codici/Estrazione Features Palmprint/Template3D_NEW
Estrazione Features Palmprint\\Template3D\\istante001\\0.1.dat
Esercizio biometria/Codici/Estrazione Features Palmprint/Work
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGeneratiCompleto
Esercizio biometria/Codici/Estrazione Features Palmprint/Template3DMat11
Esercizio biometria/Codici/Estrazione Features Palmprint/Template3DMat3
Esercizio biometria/Codici/Estrazione Features Palmprint/Template3DMatCompleti
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGeneratiMat11
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGeneratiMat11_Completi
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGeneratiMat3
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGeneratiMat3_Completi
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGeneratiMatComplete
Esercizio biometria/Codici/Estrazione Features Palmprint/templateGeneratiMatComplete_Completi
Esercizio biometria/Codici/Estrazione Features Palmprint/TemplateVerifica3D/VerificaMat11
Esercizio biometria/Codici/Estrazione Features Palmprint/TemplateVerifica3D/VerificaMat3
Esercizio biometria/Codici/Estrazione Features Palmprint/TemplateVerifica3D/VerificaMatCompleti
Esercizio biometria/Codici/Verifica/AcquisizioneMat11
Esercizio biometria/Codici/Verifica/AcquisizioneMat3
Esercizio biometria/Codici/Verifica/AcquisizioneMatComplete
